

button {
    background-color: 90 ;
    color: #e61818;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #ad00b3;
}

.author {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.1);
    text-align: center;
}
button:hover {
    background-color: #ad00b3;
}

.author {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.1);
    text-align: center;
}
 